html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --black-color: #212121;
  --blue-color: #2196f3;
  --blue-color-hero-btn: #188ce8;
  --grey-color: #757575;
  --white-color: #ffffff;
  --bgc-black-color: #2f303a;
  --bgc-grey-color: #f5f4fa;
  --border-grey-color: #afb1b8;
}

.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-color);
}

.container {
  margin: 0 auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav,
.contact-list {
  display: flex;
  align-items: center;
}

.nav-list,
.contact-list {
  display: flex;
}

.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--blue-color);
}

.logo-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.nav-logo-studio {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--black-color);
}

.nav-item,
.contact-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover, .nav-link:focus {
  color: var(--blue-color);
}

.contact-list {
  margin-left: auto;
}

.contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover, .contact-link:focus {
  color: var(--blue-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-icon.email {
  width: 16px;
  height: 12px;
}

.contact-icon.phone {
  width: 10px;
  height: 16px;
}

.current {
  position: relative;
  color: var(--blue-color);
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: -1px;
  border-radius: 2px;
  background-color: var(--blue-color);
}

.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: auto;
  margin-left: auto;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(0, 0) rotate(720deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  min-width: 528px;
  min-height: 581px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.hero-button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-close:hover .icon-close,
.hero-button-close:focus .icon-close {
  color: var(--blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close {
  width: 11px;
  height: 11px;
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 40px 12px 40px;
}

.form-text {
  margin-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  color: var(--grey-color);
  margin-bottom: 10px;
}

.form-label:nth-child(5) {
  margin-bottom: 0px;
}

.form-span {
  position: relative;
  display: block;
  margin-top: 4px;
}

.form-input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--blue-color);
}

.icon-form {
  position: absolute;
  top: 50%;
  left: 12px;
  fill: var(--black-color);
  transform: translateY(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 18px;
  height: 18px;
}

.form-input + .icon-form {
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-form {
  cursor: pointer;
  fill: var(--blue-color);
}

.form-message {
  display: block;
  padding-top: 12px;
  padding-left: 16px;
  margin-top: 4px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-message::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.1em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message:focus {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--blue-color);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-accept-policy {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  cursor: pointer;
  line-height: 1.71;
  color: var(--grey-color);
}

.checkbox-custom {
  margin-right: 8px;
  background-color: transparent;
  width: 16px;
  height: 15px;
  border: 2px solid var(--black-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-custom:checked {
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked:focus + .checkbox-custom {
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .checkbox-custom {
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid var(--blue-color);
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:checked + .checkbox-custom {
  cursor: pointer;
  width: 16px;
  height: 15px;
  border: 2px solid var(--blue-color);
  background-color: var(--blue-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 2px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-link-accept {
  text-decoration-line: underline;
  color: var(--blue-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit {
  align-self: center;
  cursor: pointer;
  padding: 10px 55px;
  background-color: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:hover, .modal-button-submit:focus {
  background-color: var(--blue-color-hero-btn);
}

.social-container {
  padding: 16px 32px 30px;
}

.social-items {
  display: flex;
  justify-content: center;
}

.social-item {
  margin-right: 10px;
}

.social-item:last-child {
  margin-right: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--border-grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.address {
  font-weight: 400;
  line-height: 1.71;
  color: var(--white-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.address-text {
  font-style: normal;
  line-height: 1.71;
  color: var(--white-color);
}

.address-contact {
  font-style: normal;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social-items {
  display: flex;
  justify-content: center;
}

.footer-social-item {
  margin-right: 10px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: var(--blue-color);
  border-radius: 50%;
  color: var(--white-color);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}

.footer-subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-label {
  margin-right: 12px;
}

.footer-subscribe-input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: var(--bgc-black-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-subscribe-input:hover, .footer-subscribe-input:focus {
  outline: none;
  cursor: pointer;
  border: 1px solid var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
}

.footer-subscribe-submit {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 28px 10px 29px;
  background-color: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-submit:hover, .footer-subscribe-submit:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--blue-color-hero-btn);
}

.footer-subscribe-icon {
  margin-left: 10px;
  top: 13px;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header .container {
  display: flex;
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  padding: 200px 0;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_bgc.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: var(--bgc-black-color);
}

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  max-width: 696px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.hero-button {
  padding: 10px 32px;
  cursor: pointer;
  background-color: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: var(--blue-color-hero-btn);
}

.features-list {
  display: flex;
  justify-content: center;
}

.features-item {
  width: 270px;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  background-color: var(--bgc-grey-color);
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--black-color);
}

.features-text {
  line-height: 1.71;
  color: var(--grey-color);
}

.teams.section {
  background-color: var(--bgc-grey-color);
}

.teams-list {
  display: flex;
}

.teams-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-color);
}

.teams-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.teams-item {
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teams-item:not(:last-child) {
  margin-right: 30px;
}

.team-item-title,
.team-text {
  text-align: center;
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: var(--black-color);
}

.team-text {
  font-size: 16px;
  color: var(--grey-color);
  margin-bottom: 16px;
}

.works.section {
  padding-top: 0px;
}

.works-list {
  display: flex;
}

.works-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--black-color);
}

.works-item {
  width: 100%;
  position: relative;
}

.works-item:not(:last-child) {
  margin-right: 30px;
}

.work-container-title {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  bottom: 0;
  position: absolute;
}

.work-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  color: var(--bgc-black-color);
  margin-bottom: 50px;
}

.clients-items {
  display: flex;
  margin-right: 30px;
}

.clients-items:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-grey-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid var(--blue-color);
}

.clients-link .clients-icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  color: var(--border-grey-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  fill: var(--blue-color);
}

.footer {
  padding: 60px 0;
  background-color: var(--bgc-black-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-addres {
  margin-right: 70px;
}

.footer-link {
  margin-bottom: 20px;
  display: block;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--white-color);
}

.footer-logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  color: var(--blue-color);
}

.footer-contact {
  margin-right: 93px;
}

.footer-contact-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-button {
  padding: 6px 22px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--black-color);
  background-color: var(--bgc-grey-color);
  border: unset;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button:hover, .filter-button:focus {
  background-color: var(--blue-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--white-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-bottom: 30px;
}

.project-image {
  position: relative;
  overflow: hidden;
}

.project-img-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.project-img-container {
  position: absolute;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;
  left: 0;
  transform: translateY(101%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link .project-img-container {
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-link:hover .project-img-container,
.project-link:focus .project-img-container {
  transform: translateY(0);
  opacity: 1;
}

.project-link:hover, .project-link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project-container {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-color);
}
/*# sourceMappingURL=main.css.map */