.section__clients-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
  color: var(--bgc-black-color);
  margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    font-size: 36px;
  }
}

.section-clients {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.clients__item {
  width: calc((100% - 2 * 30px) / 2);
  margin: 15px;

  @media screen and (min-width: 1200px) {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-grey-color);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  width: 210px;
  height: 92px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: var(--blue-color);
  }

  @media screen and (min-width: 768x) {
    width: 170px;
  }
}

.clients__icon {
  width: 106px;
  height: 60px;
  fill: currentColor;
  color: var(--border-grey-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--blue-color);
  }
}
