.footer {
  padding: 60px 0;
  background-color: var(--bgc-black-color);

  // & .container {
  //   display: flex;
  //   align-items: baseline;
  // }
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-addres {
  margin-right: 70px;
}

.logo-foter {
  margin-bottom: 20px;
}

.logo--white {
  color: var(--white-color);
}

.footer-contact {
  margin-right: 93px;
}

.footer-contact-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
