.footer {
  padding: 60px 0;
  background-color: var(--bgc-black-color);
}

.footer .container {
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-addres {
  margin-bottom: 60px;

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo-foter {
  margin-bottom: 20px;
}

.logo--white {
  color: var(--white-color);
}

.footer-contact {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-right: 89px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-contact-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;
}
