.mobile-menu-container {
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background-color: var(--white-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
}

.mobile-menu__button {
  position: absolute;
  top: 10px;
  right: 15px;

  width: 40px;
  height: 40px;

  padding: 0;
  line-height: 0;

  cursor: pointer;
  border: none;
  background-color: transparent;

  @media screen and (min-width: 767px) {
    display: none;
  }
}

.mobile-menu__icon--open {
  fill: currentColor;
  display: block;

  .mobile-menu__button:hover &,
  .mobile-menu__button:focus & {
    fill: var(--blue-color);
  }

  & + .mobile-menu-container.is-open {
    display: none;
  }
}

.mobile-menu__icon--close {
  position: absolute;
  top: 10px;
  right: 15px;
  fill: currentColor;

  display: none;

  .mobile-menu-container.is-open & {
    display: block;
  }

  .mobile-menu__button:hover &,
  .mobile-menu__button:focus & {
    fill: var(--blue-color);
  }
}
