.page-header {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100vw;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    border-bottom: 1px solid #ececec;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
