.section-project {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

.project__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-basis: calc(100% / 2 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

.project__thumbs {
  position: relative;
  overflow: hidden;
}

.project__img-descr {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--white-color);
}

.project__img-container {
  position: absolute;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;
  left: 0;

  transform: translateY(101%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .project__link:hover &,
  .project__link:focus & {
    transform: translateY(0);
    opacity: 1;
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.project__container {
  flex-grow: 1;
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project__title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black-color);
}

.project__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--grey-color);
}
