.backdrop {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: 768px) {
    padding: 15px;
  }

  background: rgba(0, 0, 0, 0.2);

  &.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
