.footer-subscribe__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  margin-bottom: 20px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe__label {
  margin-right: 12px;
}

.footer-subscribe__input {
  width: 100%;
  height: 50px;

  padding-left: 16px;
  margin-bottom: 20px;

  background-color: var(--bgc-black-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

  &:hover,
  &:focus {
    outline: none;
    cursor: pointer;
    border-color: var(--blue-color);
    box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
    color: var(--white-color);
  }

  @media screen and (min-width: 768px) {
    width: 358px;
  }
}

.footer-subscribe__submit {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 28px 10px 29px;

  background-color: var(--blue-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--white-color);
    background-color: var(--blue-color-hero-btn);
  }
}

.footer-subscribe__icon {
  margin-left: 10px;
  top: 13px;

  width: 24px;
  height: 24px;
  fill: currentColor;
}
