.nav-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.nav,
.contact {
  margin: 0;
  padding: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.contact {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-left: auto;
  }
}

.logo {
  display: block;

  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;

  color: var(--blue-color);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logo-header {
  @media screen and (max-width: 767px) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
  }
}

.logo--black {
  color: var(--black-color);
}

.nav__item {
  @media screen and (max-width: 767px) {
    margin-top: 48px;
    margin-left: 25px;
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.contact__item {
  @media screen and (max-width: 767px) {
    margin-top: 48px;
    margin-left: 25px;
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.nav__item {
  @media screen and (max-width: 767px) {
    &:nth-child(3) {
      margin-bottom: 32px;
    }
  }
}

.nav__link {
  display: block;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: var(--black-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }

  @media screen and (min-width: 768px) {
    padding-top: 32px;
    padding-bottom: 32px;

    font-size: 14px;
    line-height: 1.14;
  }
}

.nav__link--current {
  position: relative;

  color: var(--blue-color);

  @media screen and (min-width: 768px) {
    &::after {
      content: "";
      display: block;

      width: 100%;
      height: 4px;

      position: absolute;
      left: 0;
      bottom: -1px;
      border-radius: 2px;
      background-color: var(--blue-color);
    }
  }
}

.contact {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
  }
}

.contact__item {
  &:first-child {
    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
    }
  }
  &:first-child,
  &:last-child {
    @media screen and (min-width: 1200px) {
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.contact__link {
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--blue-color);
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    font-weight: 500;

    font-size: 12px;
    line-height: 1.17;

    letter-spacing: 0.02em;

    padding-top: 0;
    padding-bottom: 0;

    color: var(--grey-color);
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__link--phone,
.contact__link--email {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.17;
  }
}

.contact__link--phone {
  @media screen and (max-width: 1199px) {
    & .contact__icon {
      width: 10px;
      height: 14px;
    }
  }
}

.contact__link--email {
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }

  @media screen and (max-width: 1199px) {
    & .contact__icon {
      width: 14px;
      height: 10px;
    }
  }
}

.contact__icon {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-right: 10px;
    fill: currentColor;
  }
}
